p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.chip img.circle {
    width: 32px;
    height: 32px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.card-content > p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.single-story-content h1{
    font-size: 4rem !important;
}
.single-story-content h2{
    font-size: 2rem !important;
}
.single-story-content h3{
    font-size: 1rem !important;
}
.single-story-content img {
    width: 100%;
    height: auto;
}